---
import { Icon } from "astro-icon/components";

interface Props {
  name: string;
  label: string;
  href: string;
}
const { name, label, href } = Astro.props;
---

<a href={href} aria-label={label}><Icon name={name} size={24} /></a>
