---
import { Image } from "astro:assets";

import IconLink from "@components/IconLink.astro";
import avatar from "@images/avatar.png";
---

<header class="flex flex-col gap-4 items-center p-16 text-center border-b">
  <Image
    src={avatar}
    loading="eager"
    alt="My avatar, Int the Stickman"
    width="64"
    class="rounded-full"
  />
  <h1 class="text-2xl font-bold">Hi, I'm int</h1>
  <p class="text-ayu-muted">
    I build interesting software and write questionable articles.
  </p>
  <div class="flex gap-4">
    <IconLink
      name="github"
      label="My GitHub"
      href="https://github.com/interrrp"
    />
    <IconLink name="mail" label="My e-mail" href="mailto:i@ntrp.fun" />
  </div>
</header>
