---
import "../global.css";

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="description"
      content="A developer that builds interesting software and writes questionable articles."
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} - int` : "int"}</title>
  </head>
  <body class="bg-neutral-950 text-white leading-relaxed min-h-screen">
    <slot />
  </body>
</html>
